#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.todo-item {
  display: flex;
  width: 96%;
  margin: 0 auto;
  align-items: center;
  margin-top: 0.5rem;
  border: lightgray 0.1rem solid;
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
}
.todo-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0.2rem;
  opacity: 0.9;
  /* font-weight: bold; */
}
.delete-btn,
.check-btn {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem;
  padding: 0.75rem;
  background-position: center;
  cursor: pointer;
}
.delete-btn {
  background-color: #fff;
  border: none;
  background-image: url("assets/trash-can-regular.svg");
  background-repeat: no-repeat;
  opacity: 20%;
}
.check-btn {
  background-image: url("assets/circle-check-regular.svg");
  background-repeat: no-repeat;
  font-weight: bold;
}

.check-btn.done {
  background-image: url("assets/circle-check-solid.svg");
  opacity: 40%;
}
.delete-btn.done {
  opacity: 60%;
}
ul > .todo-item.done {
  margin-top: 3rem;
}
ul > .todo-item.done ~ .todo-item.done {
  margin-top: 0.5rem;
}
/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}

header h1 {
  margin: 0;
}

header form {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin-top: 20px;
}

header input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  background-color: #f0f0f0;
  color: black;
}

header button[type="submit"] {
  padding: 1px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

header button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* TodoList Styles */

.todo-list {
  margin-top: 20px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.todo-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* .todo-item {
  display: flex;
  align-items: center;
} */

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item.todo-text {
  flex: 1;
}
.todo-item.done {
  order: 1;
}

.todo-item.done input {
  text-decoration: line-through;
  color: #999;
}

/* Filter Button  */

.filters {
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.filters button:hover {
  background-color: #3e8e41;
}

.filters button.active {
  background-color: #3e8e41;
}
