#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.todo-item {
  display: flex;
  width: 96%;
  margin: 0 auto;
  align-items: center;
  margin-top: 0.5rem;
  border: lightgray 0.1rem solid;
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
}
.todo-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0.2rem;
  opacity: 0.9;
  /* font-weight: bold; */
}
.delete-btn,
.check-btn {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem;
  padding: 0.75rem;
  background-position: center;
  cursor: pointer;
}
.delete-btn {
  background-color: #fff;
  border: none;
  background-image: url("assets/trash-can-regular.svg");
  background-repeat: no-repeat;
  opacity: 20%;
}
.check-btn {
  background-image: url("assets/circle-check-regular.svg");
  background-repeat: no-repeat;
  font-weight: bold;
}

.check-btn.done {
  background-image: url("assets/circle-check-solid.svg");
  opacity: 40%;
}
.delete-btn.done {
  opacity: 60%;
}
.checkbox-animate:has(.todo-item.done) {
  margin-top: 3rem;
}
.checkbox-animate:has(.todo-item.done) ~ .checkbox-animate:has(.todo-item.done) {
  margin-top: 0.5rem;
}
/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}

header form {
  display: flex;
}

header input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  background-color: #f0f0f0;
  color: black;
}

header button[type="submit"] {
  padding: 1px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

header button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* TodoList Styles */

.todo-list {
  margin-top: 20px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.todo-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* .todo-item {
  display: flex;
  align-items: center;
} */

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item.todo-text {
  flex: 1;
}
.checkbox-animate:has(.todo-item.done) {
  order: 1;
}

.todo-item.done input {
  text-decoration: line-through;
  color: #999;
}

/* Filter Button  */

.filters {
  margin-bottom: 20px;
}

.filters button,
.clear-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
.clear-btn {
  margin-top: 20px;
}
.filters button:hover {
  background-color: #3e8e41;
}

.filters button.active {
  background-color: #3e8e41;
}

/* Checkboxes and animation */
/* .checkbox-animate { */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* width: 100%; */
/* height: 100vh; */
/* font-family: arial; */
/* font-size: 25px; */
/* } */
.checkbox-animate label {
  /* position: relative; */
  cursor: pointer;
}
.checkbox-animate label input {
  /* opacity: 0; */
  position: absolute;
  /* left: 0;
  top: 0; */
  z-index: -1;
}

.input-check {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #ccc;
  position: relative;
  top: 6px;
  margin-right: 7px;
  transition: 0.4s;
}

.input-check::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 6px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: scale(0) rotate(-45deg);
  position: absolute;
  top: 8px;
  left: 6px;
  transition: 0.4s;
}

.checkbox-animate label input:checked ~ .input-check {
  background-color: #4caf50;
  border-color: #4caf50;
  animation-name: input-animate;
  animation-duration: 0.7s;
}

.checkbox-animate label input:checked ~ .input-check::before {
  transform: scale(1) rotate(-45deg);
  animation-name: input-check;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
}

@keyframes input-animate {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3, 0.7);
  }
  55% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2, 0.8);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1, 0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes input-check {
  0% {
    transform: scale(0) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}

/* BATMAN MODE /  Dark Mode */
body.dark {
  background-color: #1a202c;
  color: #fff;
}

body.dark #root {
  background-color: #1a202c;
}

body.dark .todo-item {
  background-color: #2d3748;
  border-color: #4a5568;
  -webkit-box-shadow: 5px 5px 10px -4px rgba(255, 255, 255, 0.25);
  box-shadow: 5px 5px 10px -4px rgba(255, 255, 255, 0.25);
}

body.dark .todo-input {
  background-color: #2d3748;
  color: #fff;
}

body.dark .delete-btn {
  background-color: #2d3748;
  opacity: 40%;
}

body.dark .check-btn {
  opacity: 100%;
}

body.dark .check-btn.done {
  opacity: 80%;
}

body.dark .delete-btn.done {
  opacity: 50%;
}

body.dark header {
  background-color: #4a5568;
}

body.dark header h1 {
  color: #fff;
}

body.dark header input[type="text"] {
  background-color: #2d3748;
  color: #fff;
}

body.dark header button[type="submit"] {
  background-color: #38a169;
}

body.dark .todo-list li {
  border-bottom-color: #4a5568;
}

body.dark .filters button {
  background-color: #38a169;
}

body.dark .filters button.active {
  background-color: #38a169;
}

body.dark .checkbox-animate {
  color: #fff;
}

body.dark .input-check {
  border-color: #ccc;
}

body.dark .input-check::before {
  border-color: #fff;
}

.todo-list {
  background-color: white;
  color: black;
}

body.dark .todo-list {
  background-color: #2d3748;
  color: #fff;
}

body.dark .App {
  background-color: #2d3748;
  color: black;
}
